@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.title-main {
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    font-family: 'Poppins', sans-serif;
}

small {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
}

span {
    color: #3662FF;
}

.paragraph-1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
}

p > a {
    color: #3662FF;
}

.paragraph-2 {
    background-color: #3662FF;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
}

.lista {
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
}

a {
    color: black;
}

.background-black {
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    font-family: 'Poppins', sans-serif;
}

.text-center {
    text-align: center  ;
}